html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}
html, body {
    width:100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .huge, .large {
    color: #484848;
    display: block;
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
    line-height: 100%;
    margin: 0 0 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.huge, .huge h1 {
    font-size: 108px;
    letter-spacing: -4px;
    line-height: 100%;
    text-align: center;
}

hgroup {
    margin: 0 0 70px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.outer-wrapper {
    background: url("../images/bg-gradient-sand.png") repeat-x scroll 0 0px,
        url("../images/bg-sand.png") repeat scroll 0 0px,
        none repeat scroll 0 0 #F5F1E8;
        height: 100%;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-top:40px;
}

#main-content {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}

.file-block{
    width: 500px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #B6B6B6;
}

.info-block{
    padding-top: 40px;
    width: 500px;
}

.blocks {
    width: 500px;
    margin: auto;
}

.progress-block{
    width: 500px;
}

#main-content li {
    list-style-type: none;
    margin: 20px 0 0;
}

#main-content ul.info li {
    border-bottom: 1px dotted #D6D6D6;
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0 0 10px;
    height:10px;
}

.progress {
    /*float:left;*/
    width:498px;
    height: 30px;
    border: 1px solid #bc8f8f;
    text-align: center;
    line-height: 2em;

}

span.key {
    float: left;
    text-align: left;
    width:50px;
}

span.value {
    float: right;
    text-align: right;
    width:330px;
    height: 20px;
    padding-right: 5px;
    overflow: hidden;
}

.choise-button {
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #888888;
    border-radius: 15px 15px 15px 15px;
    height: 30px;
    padding: 0 15px;
    width: 100px;
    background: url("../images/bkg-btn-grey.gif") repeat-x scroll 0 0 #EDEDED;
}

input {
    opacity:0;
    filter:alpha(opacity:0);
    font-size:199px;
    cursor:pointer;
    padding:0px;
    margin:0px;
    border:none;
    margin-top: -50px;
    margin-left:-500px;
}

.sharetext {
    background: url("../images/plus.png") no-repeat scroll 0 center transparent;
    color: #000000;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 32px;
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.progress span.ratio {
    height: 30px;
    background: #5890AD;
    display: block;
    position: absolute;
    z-index: -1;
}

.download {
    color: #000000;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.hide {
    display:none;
}
